.page-header .panel.header {
    background: #f2f2f2 !important;
}

.page-footer .footer_sec h3 {
    font-size: 1.8rem !important;
    ;
}

.container.no_pad {
    margin-bottom: 14px !important;
}

.page-wrapper {
    padding-top: 2px;
     !important;
}

.breadcrumbs {
    position: relative !important;
    bottom: 10px !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.social-media {
    position: relative;
    left: 25px;
}

.container-fluid {
    max-width: 1440px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.page-main {
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid div {
    position: relative;
}

/* desktop styles */
.mobile {
    display: none;
}

.desktop {
    display: block;
}

/*
    .headline1 {
      margin-top: 3%;
    }
*/
.headline2 {
    margin-top: 3%;
    margin-bottom: 2%;
}

.button-set {
    margin-bottom: 3%;
}

.headline h1 {
    color: #333333;
    font-weight: 400;
    font-size: 44px;
}


.headline p {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-top: 1%;
    font-size: 18px;
    font-weight: 400;
}



h4 {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}


.icon {
    margin: 0 auto;
    display: block;
    position: relative;
    top: -5%;
}


p {
    color: #575757;
}

.western-union-step {
    display: block;
    height: 290px;
    -moz-border-radius: 30px;
    border-radius: 180px;
    border: 1px solid #337aab;
    margin-left: 6.03333333% !important;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;

}

.western-union-numbers {
    display: block;
    height: 110px;
    width: 114px;
    -moz-border-radius: 30px;
    border-radius: 80px;
    border: 1px solid #337aab;
    margin: 0 auto;
}

.western-union-numbers h3 {
    font-size: 75px;
    color: #337aab;
}

h3 {
    margin-top: 10px !important;
}

.western-union-step p {
    color: #333333;
}

.western-union-numbers-p p {
    font-size: 16px;
}

.yellow-button {
    margin-bottom: 5%;
}


.button1 {
    /* border: 1px solid black; */
    color: #000000;
    font-weight: 700;
    background-color: #fff10b;
    font-size: 18px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.button1:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.grey-section1 {
    background-image: url("https://s3.amazonaws.com/dgpr/landing-pages/western-union/DG_WesternUnion_LP_Desktop_bg-grey_17.jpg");
    background-color: #f0f0f0;
}

.grey-section2 {
    background-image: url("https://s3.amazonaws.com/dgpr/landing-pages/western-union/DG_WesternUnion_LP_Desktop_bg-grey_32.jpg");
    background-color: #f0f0f0;
}

.grey-section-width {
    padding: 5%;
}

.button2-margin-bottom {
    margin-bottom: 8%;
}

.mail-img {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    right: 0%;

}

.grey-section2-p {
    width: 57%;
    margin: 0 auto;
}

.grey-section2-p p {
    line-height: 2.0em;
    margin-bottom: 3%;
}

.grey-section2-button {
    margin-top: 2%;
    margin-bottom: 7%;
}

.grey-section-width2 {
    padding-top: 65px;
    padding-right: 0px;
    padding-left: 0px;
}

.grey-section-width-margin-left {
    right: 1%;
}

#last-para {
    font-size: 16px;
}

.faq-question {
    height: 8%;
    width: 90%;
}

.faq-question p {
    font-weight: 900;
    font-size: 22px;
    color: #333333;
    line-height: 1.3em;
    display: inline-block;
    position: relative;
    left: 40px;
    top: -25px;
}

.faq-answer p {
    font-size: 18px;
    color: #333333;
    position: relative;
    left: 10%;
    width: 70%;
    margin-top: 3%;
}


.faq-headline h1 {
    color: #333333;
    font-weight: 600;
    position: relative;
    margin-bottom: 4%;
    font-size: 32px;
}

.plusminus {
    min-width: 35px;
    border: 1px solid black !important;
    float: left;
    margin-right: 4%;
    color: #333333;
    float: left;
    padding: 0px 10px 3px 12px;
    font-weight: 100;
}

.faq-mob-section a:focus,
a:hover {
    text-decoration: none;
}

.faq-mob-section a:focus,
a:hover {
    text-decoration: none;
}

.faq-gap {
    margin-bottom: 2%;
}

.panel-group {
    width: 97%;
}

.footer-wu {
    margin-top: 7%;
    margin-bootm: 3%;
}

.footer-wu p {
    color: #575757;
    font-size: 10px;
}

.last-margin-bottom {
    margin-top: 10%;
}

.accordion_head {
    background-color: white;
    color: #333333;
    cursor: pointer;
    font-size: 22px;
    font-weight: 900;
    position: relative;
    line-height: 1.3em;
    display: inline-block;

}

.accordion_body {
    background: white;
}

.accordion_body p {
    padding: 7px 5px;
    margin: 0px;
}

.faq-mob-section {
    width: 1170px;

}

sup {
    position: relative;
    font-size: 45%;
    top: -0.9em;

}

.col-sm-offset-1 {
    margin-left: 11.333333%;
}


/* mobile styles */
@media screen and (min-width: 300px) and (max-width:768px) {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .western-union-step {
        margin-bottom: 30px;
    }

    .remove-mob-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .western-union-step p {
        font-family: 'Open Sans', sans-serif;
        width: 60%;
        margin: 0 auto;
        font-size: 16px;
    }

    .headline1 {
        width: 90%;
    }

    .headline h1 {
        color: #333333;
        font-size: 28px;
        font-weight: 600;
    }

    .headline p {
        font-size: 17px;
    }

    .mail-img {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .grey-section-width {
        padding: 10%;
    }

    hr {
        border-top: 1px solid #337aab;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .section-mob-width {
        width: 70%;
        margin: 0 auto;
    }


    .grey-section2-p p {
        line-height: 1.4em;
    }

    .grey-section2-p {
        width: 85%;
        margin: 0 auto;
    }

    .faq-question p {
        font-size: 20px;
        color: #333333;
        line-height: 1.3em;
    }

    .faq-answer p {
        font-size: 14px;
        left: 13%;

    }

    .faq-mob-section {
        width: 100%;
        position: relative;
        left: 11px;
    }

    .glyphicon {
        border: 1px solid black !important;
    }


    .faq-headline h1 {
        color: #333333;
        font-weight: 400;
        font-size: 28px;
        left: 5%;
    }

    .accordion_head {
        font-size: 16.6px;
        font-weight: 400;
        line-height: 1.2em;
        width: 80%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;

    }

    .plusminus {
        min-width: 31px;
        margin-right: 3%;
        padding: 0px 7px 0px 9px;
    }


    .grey-mob-section {
        background-color: #f0f0f0;
    }

    .faq-mob-section {
        margin-left: 0px;
        margin-right: 0px !important;
    }


    .faq-grey {
        padding-left: 0px !important;
        padding-right: 0x !important;
    }

    .button-margin {
        margin-bottom: 10%;
    }

    .button-margin2 {
        margin-bottom: 0%;
        left: -11%;
    }

    .section-mob-width p {
        font-size: 17px;

    }

    .faq-two {
        background-color: #f0f0f0;
    }

    .page-main {
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: hidden;
    }

    .grey-section2-button {
        padding-left: 5.5%;
        padding-right: 5.5%;
        left: 2% !important;
    }

    .mob-padding-section {
        overflow: hidden;
    }




}

/* vick cicle styles */
@media screen and (min-width: 992px) and (max-width:1199px) {

    .western-union-step {
        display: block;
        height: 250px;
        margin-left: 6.53333333% !important;
        border-radius: 200px;
        font-size: 13px;
        padding-top: 30px;
    }

    .button1 {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .accordion_head {
        font-size: 18.5px;
    }

    .faq-answer p {
        font-size: 16px;
        left: 12%;
        margin-top: 3%;
    }

    .faq-mob-section {
        width: 870px;
    }



}

/* tablet styles */
@media screen and (min-width: 769px) and (max-width:991px) {

    .western-union-step {
        display: block;
        height: 195px;
        margin-left: 6.53333333% !important;
        border-radius: 200px;
        font-size: 11px;
        padding-top: 0px;
    }

    .button1 {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 9px;
        padding-left: 9px;
    }

    .icon {
        position: relative;
        top: 10px;
    }

    .headline h1 {
        color: #000000;
        font-size: 32px;
        font-weight: 600;
    }

    .headline p {
        font-size: 16px;
    }

    h3 {
        font-size: 20px;
    }

    .grey-section2-p p {
        line-height: 1.7em;
    }

    .accordion_head {
        font-size: 15.1px;
    }

    .faq-answer p {
        font-size: 14px;
        left: 14%;
        margin-top: 3%;

    }

    .plusminus {
        font-size: 19px;
    }

    .faq-mob-section {
        width: 800px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .faq-headline h1 {
        font-size: 28px;
    }


}

/* Added Video styles -  10/14/19*/
video {
    padding: 10px 25px;
}

@media only screen and (min-width:769px) {
    .video-container {
        position: absolute !important;
        bottom: 5%;
    }

    video {
        padding: 0;
    }
}